.card {
    background-color: #282c34;
    width: 15%;
    margin-top: 1%;
}

.forecastWrapper {
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.location {
    font-family: 'Century Gothic', sans-serif;
    font-size: 5vw;
    color: white;
}

.input {
    width:45%;
}

.headerWrapper {
    padding-left:5%;
}

div .headerWrapper .searchBtn{
    margin-left: 5%;
    background-color: white;
    height: 55px;
}